/* CSS reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    font-size: 16px;
}

body {
    min-height: 100vh;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

/* Colors */

:root {
    --blue-900: rgb(11, 13, 23);
    --blue-300: rgb(208, 214, 249);
    --bg-nav-menu: rgba(255, 255, 255, 0.05);
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --white-25: rgba(255, 255, 255, 25%);
    --white-50: rgba(255, 255, 255, 50%);
}

/* Utilities */

/* Typography */

.main-nav-item a:link,
.main-nav-item a:visited,
.main-nav-item a:hover,
.main-nav-item a:active {
    color: var(--white);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    text-decoration: none;

    .number {
        font-weight: 700;
        letter-spacing: 0.16875rem;
    }
}

/* Main styles */

body {
    position: relative;
    background-color: var(--blue-900);
}

/* Header styles */

.site-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 88px;
    padding: 0 6.4%;

    @media screen and (min-width: 768px) {
        height: 96px;
        padding: 0;

        @media screen and (min-width: 1200px) {
            position: absolute;
            top: 40px;
            z-index: 10;
            width: 100%;
        }
    }

    .site-header-left {
        @media screen and (min-width: 768px) {
            margin-left: 5.21%;
        }

        .logo-wrapper {
            width: 40px;
            height: 40px;

            @media screen and (min-width: 768px) {
                width: 48px;
                height: 48px;
            }
        }
    }

    .site-header-right {
        @media screen and (min-width: 768px) {
            width: 83.334%;
            height: 100%;

            @media screen and (min-width: 1200px) {
                position: relative;
                width: 51.11%;
            }
        }

        &::before {
            @media screen and (min-width: 1200px) {
                content: "";

                position: absolute;
                top: 50%;
                right: 100%;

                transform: translate(32px, -50%);
                z-index: 20;

                width: 76.09%;
                height: 1px;

                background-color: var(--white-25);
            }
        }

        .main-nav {
            background: var(--bg-nav-menu);
            backdrop-filter: blur(40px);

            display: flex;
            flex-direction: column;
            gap: 80px;

            position: absolute;
            top: 0;
            right: 0;

            transform: translateX(100%);
            transition: transform .5s ease-out;

            width: 67.73%;
            height: 100vh;
            padding: 32px 0 32px 32px;

            @media screen and (min-width: 768px) {
                display: block;

                position: unset;

                transform: unset;

                width: 100%;
                height: 100%;
                padding: 0;
            }

            &.open {
                transform: translateX(0);
            }

            .menu-close-button {
                width: 24px;
                height: 21px;
                margin-right: 24px;

                background-color: transparent;
                border: none;

                align-self: flex-end;

                @media screen and (min-width: 768px) {
                    display: none;
                }
            }

            ul {
                list-style-type: none;

                display: flex;
                flex-direction: column;
                gap: 32px;

                @media screen and (min-width: 768px) {
                    flex-direction: row;
                    justify-content: flex-end;
                    gap: 48px;

                    width: 100%;
                    height: 100%;
                    padding: 0 6.25% 0 0;
                }

                .main-nav-item {
                    position: relative;
                    display: flex;
                    align-items: center;

                    @media screen and (min-width: 768px) {
                        height: 100%;
                    }

                    &::after {
                        content: "";

                        position: absolute;
                        top: 0;
                        right: 0;

                        width: 4px;
                        height: 100%;

                        background-color: transparent;
                        transition: background-color .3s ease-in-out;

                        @media screen and (min-width: 768px) {
                            top: unset;
                            bottom: 0;
                            left: 0;
                            right: unset;

                            width: 100%;
                            height: 4px;
                        }
                    }

                    &:hover::after {
                        background-color: var(--white-50);
                    }

                    &.current::after {
                        background-color: var(--white);
                    }

                    .nav-link {
                        display: flex;
                        gap: 12px;

                        @media screen and (min-width: 768px) {
                            height: 100%;

                            display: flex;
                            align-items: center;
                        }

                        span {
                            display: block;
                        }
                    }
                }
            }
        }

        .mobile-menu-button {
            width: 24px;
            height: 21px;

            background-color: transparent;
            border: none;

            @media screen and (min-width: 768px) {
                display: none;
            }
        }
    }
}

/* Page Home styles */

.page-home {
    background-image: url(../images/home/background-home-mobile.jpg);
    background-size: cover;

    @media screen and (min-width: 768px) {
        background-image: url(../images/home/background-home-tablet.jpg);

        @media screen and (min-width: 1200px) {
            background-image: url(../images/home/background-home-desktop.jpg);
        }
    }
}

/* Page Destination styles */

.page-destination {
    background-image: url(../images/destination/background-destination-mobile.jpg);
    background-size: cover;

    @media screen and (min-width: 768px) {
        background-image: url(../images/destination/background-destination-tablet.jpg);

        @media screen and (min-width: 1200px) {
            background-image: url(../images/destination/background-destination-desktop.jpg);
        }
    }
}

/* Page Crew styles */

.page-crew {
    background-image: url(../images/crew/background-crew-mobile.jpg);
    background-size: cover;

    @media screen and (min-width: 768px) {
        background-image: url(../images/crew/background-crew-tablet.jpg);

        @media screen and (min-width: 1200px) {
            background-image: url(../images/crew/background-crew-desktop.jpg);
        }
    }
}

/* Page Technology styles */

.page-technology {
    position: relative;
    overflow: hidden;
}

.page-technology::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;

    background-image: url("../images/technology/background-technology-mobile.jpg");
    background-size: cover;
    background-position: center;

    transform: scaleX(-1);

    @media screen and (min-width: 768px) {
        background-image: url("../images/technology/background-technology-tablet.jpg");

        @media screen and (min-width: 1200px) {
            background-image: url("../images/technology/background-technology-desktop.jpg");
            transform: unset;
        }
    }
}