/* CSS reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    font-size: 16px;
}

body {
    min-height: 100vh;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

/* Colors */

:root {
    --blue-900: rgb(11,13,23);
    --blue-300: rgb(208, 214, 249);
    --bg-nav-menu: rgba(255, 255, 255, 0.05);
    --black: rgb(0,0,0);
    --white: rgb(255, 255, 255);
}

/* Utilities */

/* Typography */

/* Main styles */

body {
    position: relative;
    background-color: var(--blue-900);
}

body.page-home {
    background-image: url(/assets/images/home/background-home-mobile.jpg);
    background-size: cover;

    @media screen and (min-width: 768px) {
        background-image: url(/assets/images/home/background-home-tablet.jpg);

        @media screen and (min-width: 1200px) {
            background-image: url(/assets/images/home/background-home-desktop.jpg);
        }
    }
}

body.page-destination {
    background-image: url(/assets/images/destination/background-destination-mobile.jpg);
    background-size: cover;

    @media screen and (min-width: 768px) {
        background-image: url(/assets/images/destination/background-destination-tablet.jpg);

        @media screen and (min-width: 1200px) {
            background-image: url(/assets/images/destination/background-destination-desktop.jpg);
        }
    }
}

body.page-crew {
    background-image: url(/assets/images/crew/background-crew-mobile.jpg);
    background-size: cover;

    @media screen and (min-width: 768px) {
        background-image: url(/assets/images/crew/background-crew-tablet.jpg);

        @media screen and (min-width: 1200px) {
            background-image: url(/assets/images/crew/background-crew-desktop.jpg);
        }
    }
}

body.page-technology {
    position: relative;
    overflow: hidden;
}

body.page-technology::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/assets/images/technology/background-technology-mobile.jpg");
    background-size: cover;
    background-position: center;
    transform: scaleX(-1);
    z-index: -1;

    @media screen and (min-width: 768px) {
        background-image: url("/assets/images/technology/background-technology-tablet.jpg");

        @media screen and (min-width: 1200px) {
            background-image: url("/assets/images/technology/background-technology-desktop.jpg");
            transform: unset;
        }
    }
}

/* Header styles */

.site-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 88px;
    padding: 0 6.4%;

    @media screen and (min-width: 768px) {
        position: absolute;
        top: 40px;
        width: 100%;
        height: 96px;
        padding: 0;
    }

    .site-header-left {
        @media screen and (min-width: 768px) {
            margin-left: 5.21%;
        }

        .logo-wrapper {
            width: 40px;
            height: 40px;

            @media screen and (min-width: 768px) {
                width: 48px;
                height: 48px;
            }
        }
    }

    .site-header-right {
        @media screen and (min-width: 768px) {
            width: 83.334%;
            height: 100%;

            @media screen and (min-width: 1200px) {
                width: 51.11%;
            }
        }

        .main-nav {
            background: var(--bg-nav-menu);
            backdrop-filter: blur(40px);

            display: none;
            /* display: flex; */
            flex-direction: column;
            gap: 80px;

            position: absolute;
            top: 0;
            right: 0;

            width: 67.73%;
            height: 100vh;
            padding: 32px 0 32px 32px;

            @media screen and (min-width: 768px) {
                display: block;

                position: unset;

                width: 100%;
                height: 100%;
                padding: 0;
            }

            .menu-close-button {
                width: 24px;
                height: 21px;
                margin-right: 24px;

                background-color: transparent;
                border: none;

                align-self: flex-end;

                @media screen and (min-width: 768px) {
                    display: none;
                }
            }

            ul {
                list-style-type: none;

                display: flex;
                flex-direction: column;
                gap: 32px;

                @media screen and (min-width: 768px) {
                    flex-direction: row;
                    justify-content: flex-end;
                    gap: 48px;

                    width: 100%;
                    height: 100%;
                    padding: 0 6.25% 0 0;
                }

                .main-nav-item {
                    @media screen and (min-width: 768px) {
                        height: 100%;
                    }

                    .nav-link {
                        display: flex;
                        gap: 12px;

                        @media screen and (min-width: 768px) {
                            height: 100%;

                            display: flex;
                            align-items: center;
                        }

                        span {
                            display: block;
                        }
                    }
                }
            }
        }

        .mobile-menu-button {
            width: 24px;
            height: 21px;

            background-color: transparent;
            border: none;

            @media screen and (min-width: 768px) {
                display: none;
            }
        }
    }
}